.navbar {
    background-color: #569ef1; /* Change this to any color you prefer */
    color: white; /* Adjust text color if needed for better contrast */
    padding: 20px 40px; /* Optional: Add some padding to space out the content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;

}
.nav-logo img {
    width:50%;
    height:30%;
}

.nav-logo p {
    font-family: 'Arial', sans-serif; /* Change to the desired font family */
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold; /* You can make it bold, or choose 'normal', 'lighter', etc. */
    color: #ffffff; /* Change text color */
    letter-spacing: 1.5px; /* Optional: add space between letters */
    text-transform: uppercase; /* Optional: make text uppercase */
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight:400;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
    color: #ffffff;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: red;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-login-cart button{
    width: 150px;
    height:50px;
    outline:auto;
    border: 1px solid rgb(75, 74, 74);
    color:#2b2a2a;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:hover{
    background-color: #b7b4b4;
}
.nav-login-cart button:active{
    background-color: #2f2b2b;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size:14px;
    background-color: red;
    color: white;

}